:root {
  /* CSS HSL */
 
  --black: black;
  --white: white;
  --blue: #45a0de;
  
}

@font-face {
  font-family: "Overpass";
  font-weight: 300; /* stylelint-disable-line font-weight-notation */
  font-style: normal;
  font-display: swap;
  src: url(./Overpass-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Overpass";
  font-weight: 800; /* stylelint-disable-line font-weight-notation */
  font-style: normal;
  font-display: swap;
  src: url(./Overpass-ExtraBold.woff2) format("woff2");
}

html{
	  font-size: 16px;
	}
body{
  font-family:"Overpass",-apple-system,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  font-size: calc(0.8em + 0.6vw);
  background-color: var(--white);
  margin: 0;
  color: var(--black);
}
main{
  max-width: 50rem;
  margin: auto;
}
@supports (display: grid) and (not (-ms-ime-align: auto)) {
	main{
	 max-width: none;	
	}
  .container{
	display: grid;
	width: 100%;
	max-width: 100%;
	grid-template-columns:
	[full-start] minmax(1em, 1fr)
	[main-start] minmax(0, 50em) [main-end]
	minmax(1em, 1fr) [full-end];
  }
  .container>*{
	grid-column: main;
  }
  .container-main{
	grid-column: main;
  }
  .container-full{
	grid-column:full;
  }
}

a{
  text-decoration: underline;
  color: var(--black);
  transition: 0.2s;
}
a:hover{
  color: var(--blue);
}

header{
  background-color: var(--black);
  height: 35vmax;
  max-height: 60vh;
  display: flex;
  align-items: flex-end;
  margin-bottom: 2em;
  background: black url(/images/noelle_favre_web.jpg) 100% 100% no-repeat;
  background-size: contain;
}
header h1{
  color: var(--white);
  padding: 1em 0;
  text-align: left;
  font-size: calc(1.5em + 1.3vw);
}
header h1 span{
  color: var(--blue);
}
header h1 i{
  font-size: calc(0.5em + 0.6vw);
  font-style: normal;
  font-weight: normal;
}

.boxes {
  max-width: 60em;
  margin: 2em auto 5em;
  padding: 0 1em;
  display: grid;
  grid-gap: 2em 2em;
  grid-template-columns: repeat(auto-fit, minmax(min(20em, 100%), 1fr));
}
.boxes .box{
  padding: 1em 2em;
  background-color: var(--blue);
  color: var(--white);
  position: relative;
}
.box *{
  position: relative;
}
.box h4{
  font-weight: 800;
  position: absolute;
  z-index: 0;
  bottom: -0.15em;
  right: 0.25em;
  padding: 0;
  margin: 0;
  line-height: 1em;
  font-size: calc(8.1em + 1vw);
  color: var(--white);
}
.box a{
  color: var(--white);
}
.box a:hover{
  color: var(--black);
}

.image-full img{
  width:100%;
  object-fit: cover;
  height: 100%;
  max-height: 50vh;
  object-position: top;
  margin-top:3em;
}

.boxes .map{
  padding: 0;
}
.map img{
  width: 100%;
}

footer{
  margin-top: 4em;
  padding-top: 2em;
  background-color: var(--black);
  min-height: 40vh;
  display: flex;
  align-items: flex-start;
  color: var(--white);
}
footer h3 + h4{
  margin-top: 0;
  margin-bottom: 0.3em;
}
footer a{
  color: var(--white);
  display: inline-block;
  margin-top: 0.6em;
}
footer a:hover{
  color: var(--black);
}

/* Typography */
h1, h2, h3, h4, h5{
  word-wrap: break-word;
}
h1, .h1, .h-huge {
  font-size: calc(2.1em + 1vw);
  line-height: 1.1em;
  font-weight: 800;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
h2, .h2 {
  font-size: calc(1.2em + 1vw);
  line-height: 1.3em;
  font-weight: 800;
  margin-top: 0.5em;
  margin-bottom: 0;
}
h3, .h3 {
  font-size: calc(0.9em + 1vw);
  font-weight: normal;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0;
}
h4, .h4 {
  font-size: calc(0.8em + 1vw);
  font-weight: normal;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0;
}
.center{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

p, ul, ol, pre, table, blockquote {
  line-height: 1.43em;
  margin-top: 0;
  margin-bottom: 0.5em;
}
p + p, p + h2, p + h3, p + ul, ul + p, h2 + p, h3 + ol, h3 + ul, h2 + ol, h2 + ul{
  margin-top: 0.8em;
}
h1 + h2, h2 + h3, h3 + h4{
  margin-top: 0.5em;
}
ul, ol{
  margin-left: 1em;
  padding-left: 0em;
  margin-bottom: 1em;
}
ul li , ol li{
  margin-bottom: 0.3em;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0px;
  margin-bottom: 0px;
}




